<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>db) Debug</Title>
			<Shortcut>db</Shortcut>
			<Description>Debug.Log문을 만듭니다.</Description>
			<Author>gskim</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Code Language="csharp">
				<![CDATA[Debug.Log("$end$");]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>